


ALTER PROCEDURE [dbo].[SP_DOCUMENT_REPORT]        
(
	@CompanyId	VARCHAR(max)=NULL,
	@CategoryId	VARCHAR(max)=NULL,
	@ExpenseId	VARCHAR(max)=NULL,
	@Supplier	VARCHAR(500)=NULL,
	@StatusId	VARCHAR(max)=NULL,
	@RefNo		VARCHAR(max)=NULL,
	@SearchBy	VARCHAR(max)=NULL,
	@FromDate	VARCHAR(200)=NULL,
	@ToDate		VARCHAR(200)=NULL,
	@UserId		VARCHAR(max)=NULL,
	@Action		VARCHAR(max)
)        
AS        
BEGIN

	IF(@CompanyId is NULL OR @CompanyId='') SET @CompanyId=0
	IF(@ExpenseId is NULL OR @ExpenseId='') SET @ExpenseId=0
	IF(@CategoryId is NULL OR @CategoryId='') SET @CategoryId=0
	IF(@StatusId is NULL OR @StatusId='') SET @StatusId=99
	IF(@RefNo is NULL) SET @RefNo=''
	IF(@SearchBy is NULL) SET @SearchBy=''
	IF(@Supplier is NULL) SET @Supplier=''
	IF(@FromDate is NULL OR @FromDate='' ) SET @FromDate=convert(varchar,DateAdd(YYYY,-1,getdate()),102)
	IF(@ToDate is NULL or @ToDate='') SET @ToDate=convert(varchar,getdate(),102)

	set @FromDate=convert(varchar,cast(@FromDate as date),102)
	set @ToDate=convert(varchar,cast(@ToDate as date),102)

		
	DECLARE @DocPath VARCHAR(MAX)='~/UI/DocumentSCM.aspx?documentId='
	DECLARE @PrintPreview VARCHAR(MAX)='~/UI/PrintPreviewSCM.aspx?documentId='

	IF(@Action='ALL_DOCUMENT')
	BEGIN
		
		IF OBJECT_ID(N'tempdb..#DocumentList') IS NOT NULL  DROP TABLE #DocumentList
		CREATE TABLE #DocumentList (DocumentId INT);
		-----Select User Wise Document List
		INSERT INTO #DocumentList(DocumentId)
		SELECT distinct D.DocumentId FROM DocumentInfo D INNER JOIN Sys_Flowpath F ON D.FlowId=F.FlowId --AND F.IsTeamMember=0
		WHERE d.Status IN (1,2,3,4,5,6,7,8,9,10,11,12,14,15)
		
		-------------------------

		SELECT D.DocumentID,c.LookupText as Company, dpt.LookupText as Department,E.LookupText AS ExpenseTypeName,S.CategoryName, r.FlowName AS RoleName , D.BillRefNo, D.BillAmount, SS.StatusName AS Status,DD.ReqNo,
		case when isnull(DD.PoNo,'')<>'' then dd.PoNo else d.PoNo end  as PoNo,
		case when isnull(dds.SupplierName,'')<>'' then dds.SupplierName else d.SupplierName end  as SupplierName,
		DD.PiNo,
		DD.LcNo,case when isnull(DD.MrrNo,'')<>'' then dd.MrrNo else SMMR.MrrNo end as MrrNo,
		--CASE WHEN R.IsSupervisor=1 THEN 
		--(case when d.ProcessId=1 then REPLACE(@PrintPreview,'PrintPreviewSCM.aspx','PrintPreview.aspx') else @PrintPreview end + CONVERT(varchar(12), D.DocumentID))
		--WHEN D.Status<>12 THEN (@DocPath+ CONVERT(varchar(12), D.DocumentID) + '&categoryId='+ CONVERT(varchar,ISNULL(D.CategoryId,6))+ '&mode=wf')
		--ELSE
		--(case when d.ProcessId=1 then REPLACE(@PrintPreview,'PrintPreviewSCM.aspx','PrintPreview.aspx') else @PrintPreview end + CONVERT(varchar(12), D.DocumentID))
		--END 
		case when d.ProcessId=1 then REPLACE(@PrintPreview,'PrintPreviewSCM.aspx','PrintPreview.aspx') else @PrintPreview end + CONVERT(varchar(12), D.DocumentID)
		AS ReturnPath,
		D.BillAmount,D.DiscountAmount,D.FinalAmount,
		dbo.fn_FormatDate(ISNULL(D.PublishDate,D.EntryDate)) AS EntryDate, dbo.fn_FormatDate(SS.Lastupdate) AS LastModified,
		dbo.ConvertSecondToTime(DATEDIFF(SECOND,ISNULL(SS.Lastupdate,GETDATE()),GETDATE())) AS [Waiting],
		'' AS RefDocumentNo,'' AS RefDocumentPath
		FROM DocumentInfo AS D
		INNER JOIN vwDocumentStatus SS ON D.DocumentID=SS.DocumentID
		INNER JOIN vwDocumentDetails DD ON D.DocumentId=DD.DocumentId
		--INNER JOIN Sys_UserCompany UC ON D.CompanyID=UC.CompanyID AND D.CategoryId=UC.CategoryId AND D.FlowId=UC.FlowId AND UC.UserId=@UserId 
		LEFT JOIN Sys_Lookup AS C ON c.LookupTypeId=1 AND D.CompanyID = c.LookupValue 
		LEFT JOIN Sys_Lookup AS dpt ON DPT.LookupTypeId=2 AND D.DepartmentID = dpt.LookupValue
		LEFT JOIN Sys_Lookup E ON E.LookupTypeId=5 AND D.ExpenseTypeID=E.LookupValue
		LEFT JOIN Sys_Category S ON D.CategoryId=S.CategoryId
		LEFT JOIN Sys_Flowpath R ON D.FlowId=R.FlowId
		LEFT JOIN Sys_Users u ON D.EntryBy = u.UserID
		outer apply
		(select STUFF((select  ',' + cast(Sm.MrrNo as varchar(max)) + ', ' + isnull(cast(Sm.MrrDate as varchar(max)),'')
		from DocumentScmMrr SM  where d.DocumentId=SM.DocumentId
		for xml path ('')), 1, 1, '') as MrrNo) as SMMR
		outer apply
		(select STUFF((select  ','  + isnull(sd.SupplierName,'') 
		from DocumentDetails sd  where d.DocumentId=sd.DocumentId and sd.Type='PO'
		for xml path ('')), 1, 1, '') as SupplierName ) as dds

		WHERE --D.DocumentId IN (SELECT DocumentId FROM #DocumentList) AND
		(@CompanyId=0 or D.CompanyID=@CompanyId)
		AND (@ExpenseId=0 or D.ExpenseTypeID=@ExpenseId)
		AND (@CategoryId=0 or D.CategoryId=@CategoryId)
		AND (@StatusId=99 or D.Status=@StatusId)
		AND  convert(varchar,d.EntryDate,102) between @FromDate and @ToDate
		AND (D.BillRefNo LIKE '%'+@RefNo+'%')
		AND (dds.SupplierName LIKE '%'+@Supplier+'%')
		AND (ISNULL(DD.ReqNo,'') LIKE '%'+@SearchBy+'%' OR D.PoNo LIKE '%'+@SearchBy+'%' OR DD.PiNo LIKE '%'+@SearchBy+'%' OR DD.LcNo LIKE '%'+@SearchBy+'%' OR DD.MrrNo LIKE '%'+@SearchBy+'%')
		ORDER BY D.DocumentID DESC

	END

	IF(@Action='FORWARD')
	BEGIN
		
		SELECT  D.DocumentID,c.LookupText as Company, dpt.LookupText as Department,E.LookupText AS ExpenseTypeName,S.CategoryName, r.FlowName AS RoleName, D.BillRefNo, D.BillAmount, SS.StatusName AS Status, DD.ReqNo,
		case when isnull(DD.PoNo,'')<>'' then dd.PoNo else d.PoNo end  as PoNo,
		case when isnull(dds.SupplierName,'')<>'' then dds.SupplierName else d.SupplierName end  as SupplierName,
		DD.PiNo,
		DD.LcNo,case when isnull(DD.MrrNo,'')<>'' then dd.MrrNo else SMMR.MrrNo end as MrrNo,
		--(case when d.ProcessId=1 then REPLACE(@PrintPreview,'PrintPreviewSCM.aspx','PrintPreview.aspx') else @PrintPreview end + CONVERT(varchar(12), D.DocumentID)) AS ReturnPath,
		case when d.ProcessId=1 then REPLACE(@PrintPreview,'PrintPreviewSCM.aspx','PrintPreview.aspx') else @PrintPreview end + CONVERT(varchar(12), D.DocumentID)
		AS ReturnPath,
		D.BillAmount,D.DiscountAmount,D.FinalAmount,
		dbo.fn_FormatDate(ISNULL(D.PublishDate,D.EntryDate)) AS EntryDate, dbo.fn_FormatDate(SS.Lastupdate) AS LastModified,
		dbo.ConvertSecondToTime(DATEDIFF(SECOND,ISNULL(SS.Lastupdate,GETDATE()),GETDATE())) AS [Waiting],
		'' AS RefDocumentNo,'' AS RefDocumentPath
		FROM DocumentInfo AS D
		--LEFT JOIN dbo.DocumentInfo AS RefDoc ON D.RefDocumentID=RefDoc.DocumentID
		LEFT JOIN vwDocumentDetails DD ON D.DocumentId=DD.DocumentId
		LEFT JOIN vwDocumentStatus SS ON D.DocumentID=SS.DocumentID
		LEFT JOIN Sys_Lookup AS C ON c.LookupTypeId=1 AND D.CompanyID = c.LookupValue 
		LEFT JOIN Sys_Lookup AS dpt ON DPT.LookupTypeId=2 AND D.DepartmentID = dpt.LookupValue
		LEFT JOIN Sys_Lookup E ON E.LookupTypeId=5 AND D.ExpenseTypeID=E.LookupValue
		LEFT JOIN Sys_Category S ON D.CategoryId=S.CategoryId
		LEFT JOIN Sys_Flowpath R ON D.FlowId=R.FlowId
		LEFT JOIN Sys_Users u ON D.EntryBy = u.UserID
		outer apply
		(select STUFF((select  ',' + cast(Sm.MrrNo as varchar(max)) + ', ' + isnull(cast(Sm.MrrDate as varchar(max)),'')
		from DocumentScmMrr SM  where d.DocumentId=SM.DocumentId
		for xml path ('')), 1, 1, '') as MrrNo) as SMMR
		outer apply
		(select STUFF((select  ','  + isnull(sd.SupplierName,'') 
		from DocumentDetails sd  where d.DocumentId=sd.DocumentId and sd.Type='PO'
		for xml path ('')), 1, 1, '') as SupplierName ) as dds

		WHERE D.DocumentID IN (SELECT DocumentID FROM dbo.DocumentComments WHERE EntryBy=@UserId)
		AND (D.CompanyID=@CompanyId OR @CompanyId=0)
		AND (D.ExpenseTypeID=@ExpenseId OR @ExpenseId=0)
		AND (D.CategoryId=@CategoryId OR @CategoryId=0)
		AND (D.Status=@StatusId OR @StatusId=99)
		AND  convert(varchar,d.EntryDate,102) between @FromDate and @ToDate
		AND (D.BillRefNo LIKE '%'+@RefNo+'%')
		AND (dds.SupplierName LIKE '%'+@Supplier+'%')
		AND (ISNULL(DD.ReqNo,'') LIKE '%'+@SearchBy+'%' OR D.PoNo LIKE '%'+@SearchBy+'%' OR DD.PiNo LIKE '%'+@SearchBy+'%' OR DD.LcNo LIKE '%'+@SearchBy+'%' OR DD.MrrNo LIKE '%'+@SearchBy+'%')
		ORDER BY D.DocumentID DESC
	END
END

--GO
--EXEC dbo.SP_DOCUMENT_LIST @CompanyId = '0', -- varchar(max)
--    @CategoryId = '0', -- varchar(max)
--    @ExpenseId = '0', -- varchar(max)
--    @StatusId = '0', -- varchar(max)
--    @RefNo = '', -- varchar(max)
--    @PartyName = '', -- varchar(max)
--    @UserId = '3', -- varchar(max)
--    @Action = 'WORKFLOW' -- varchar(max)


